<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hotel.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= @hotel.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @hotel.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
